.searcher {
	display: flex;
	position: fixed;
	padding: 10px;
	border: none;
	flex-direction: column;
	justify-content: center;
	width: 310px;
	top: 110px;
	right: 10px;
	z-index: 50;
}

.searcher__container {
	width: 95%;
	overflow: hidden;
}

.searcher__hider {
	transition: 0.3s;
	display: flex;
	flex-direction: row;
	border: none;
	height: 45px;
	width: 100%;
}

.searcher-rounded-box {
	transition: 0;
	padding: 15px 20px;
	border-radius: 50% 0 0 50%;
	border: none;
	background-color: rgb(228, 227, 227);
	border-bottom: 1px solid rgba(163, 163, 163, 0.555);
}

.searcher__input {
	width: 100%;
	padding: 15px 20px;
	border: none;
	background-color: rgb(228, 227, 227);
	transform: translateX(-23px);
	border-bottom: 1px solid rgba(163, 163, 163, 0.555);
}
.searcher__input:focus {
	/* border: none; */
	border-bottom: 1px solid rgba(163, 163, 163, 0.555);
	outline: none;
}

.searcher__button {
	position: absolute;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	border: none;
	right: 5px;
	font-weight: 900;
	transition: 0.3s;
}

.searcher__button:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.searcher__hider--hide {
	transform: translateX(100%);
}

@media screen and (min-width: 650px) {
	.searcher {
		top: 120px;
	}
}

@media screen and (min-width: 1450px) {
	.searcher {
		right: 130px;
	}
}
