
.item-sections-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

@media screen and (min-width: 380px) {
	.item-sections-container {
		display: flex;
		flex-direction: column;
		width: 350px;
		align-items: left;
		margin-top: 30px;
	}
}

@media screen and (min-width: 900px) {
	.item-sections-container {
		display: flex;
		flex-direction: row;
		width: 80%;
		margin-top: 50px;
		align-items: flex-start;
	}
}

@media screen and (min-width: 1250px) {
	.item-sections-container {
		display: flex;
		width: 100%;
		flex-direction: row;
	}
	.item-content {
		width: 50%;
	}
}
