main.main-content > section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 25px;
	padding: 10px;
}

section .welcoming-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

section .welcome-left {
	width: 95%;
}

.welcome-left header.welcoming {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: uppercase;
}

.welcome-left header.welcoming h1 {
	font-size: 3rem;
}
.welcome-left header.welcoming h2 {
	font-size: 1rem;
	font-weight: 500;
}

section .welcome-left .main-description {
	margin-top: 20px;
	width: 90%;
	min-height: 400px;
	text-align: justify;
}

section .welcome-right {
	display: none;
}

section .main-description p {
	font-weight: 500;
}

.main-description ul {
	margin-top: 20px;
	transform: translateX(15px);
}

.main-description address {
	display: flex;
	justify-content: center;
	background-color: red;
	width: 125px;
	padding: 5px 10px;
	color: white;
	border-radius: 2px;
	transform: translateX(50px) translateY(50px);
	z-index: 100;
}

.main-description address:hover {
	transition: 0.2s;
	transform: translateX(50px) translateY(48px);
}

.main-description address a {
	color: white;
	font-size: 1.2rem;
	text-decoration: none;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 700;
}

@media screen and (min-width: 700px) {
	section .welcome-left {
		width: 40%;
	}
	section .welcome-right {
		display: flex;
		width: 45%;
	}
	section .welcome-right img {
		display: flex;
		width: 100%;
		opacity: 1;
	}
}
