.welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 25px;
	padding: 10px;
}

.welcome__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.welcome__wrapper--left {
	width: 95%;
}

.welcome__wrapper--right {
	display: none;
}

.welcome__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: uppercase;
}

.welcome__header-title {
	font-size: 3rem;
}
.welcome__header-subtitle {
	font-size: 1rem;
	font-weight: 500;
}

.welcome__description {
	margin-top: 20px;
	width: 90%;
	min-height: 400px;
	text-align: justify;
}


.welcome__p {
	font-weight: 500;
}

.welcome__list {
	margin-top: 20px;
	transform: translateX(15px);
}

.welcome__address {
	display: flex;
	justify-content: center;
	background-color: red;
	width: 125px;
	padding: 5px 10px;
	color: white;
	border-radius: 2px;
	transform: translateX(50px) translateY(50px);
	z-index: 100;
}

.welcome__address:hover {
	transition: 0.2s;
	transform: translateX(50px) translateY(48px);
}

.welcome__a {
	color: white;
	font-size: 1.2rem;
	text-decoration: none;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 700;
}

@media screen and (min-width: 700px) {
	.welcome__wrapper--left {
		width: 40%;
	}
	.welcome__wrapper--right {
		display: flex;
		width: 45%;
	}
	.welcome__img {
		display: flex;
		width: 100%;
		opacity: 1;
	}
}
