@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

:root {
	--bg-dark: rgb(37, 37, 37);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: "Oswald", sans-serif;
}

body::-webkit-scrollbar {
	width: 0;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	max-width: 100vw;
	min-height: 100vh;
	overflow: hidden;
}

.container__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--bg-dark);
	min-height: 80px;
}

.container__header-bg-title {
	background-color: red;
	padding: 5px;
	height: 65px;
	width: 140px;
}

a {
	text-decoration: none;
}

.container__header-title {
	display: flex;
	font-size: 2rem;
	justify-content: center;
	color: white;
	text-transform: uppercase;
	letter-spacing: -3px;
	font-weight: 700;
	text-shadow: 0px 0px 10px rgb(0, 0, 0);
	transform: scale(1.5, 2) translateX(-2.5px);
}

.navigation {
	display: flex;
	justify-content: center;
	padding: 10px;
	width: 100%;
	border-top: 0.5px solid rgba(255, 255, 255, 0.349);
	flex-wrap: wrap;
	box-shadow: 0px 10px 10px 0px grey;
}

.navigation__adress {
	margin: 0 10px;
}

.navigation__a {
	color: rgb(182, 182, 182);
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	font-style: normal;
	padding-bottom: 8px;
	font-size: 1rem;
}

.navigation__a:hover {
	color: rgb(255, 255, 255);
	border-bottom: 2px solid red;
}
.navigation__a--active {
	color: rgb(255, 255, 255);
	border-bottom: 2px solid red;
}

.main-content {
	display: flex;
	position: relative;
	overflow: hidden;
	justify-content: center;
	flex: 1;
}

.main-content__background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("https://developer.marvel.com/i/images/developers/account-bg.jpg");
	background-position: center;
	background-size: cover;
	opacity: 0.3;
	z-index: -1;
	max-width: 100vw;
}

.main-content > section {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.footer {
	position: relative;
	display: flex;
	background-color: var(--bg-dark);
	color: white;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
}

.footer__logo-container {
	display: flex;
	justify-content: center;
	width: 100px;
	margin-bottom: 50px;
}

.footer__logo {
	position: relative;
	background-color: red;
	height: 50px;
	width: 36px;
	transform: scale(3, 2);
}

.footer__logo-letter {
	position: absolute;
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 900;
	transform: translateY(-15px);
}

.footer__contact-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__contact-info--uppercase {
	text-transform: uppercase;
}

.footer__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 0;
	width: 150px;
	list-style: none;
}

.footer__list-item {
	margin-top: 10px;
}

.footer__a {
	text-transform: capitalize;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.678);
	margin-left: 10px;
}

.footer__a:hover {
	color: white;
	cursor: pointer;
}

.footer__copy-right {
	position: absolute;
	bottom: 10px;
}

@media screen and (min-width: 650px) {
	.navigation__a {
		font-size: 1.3rem;
	}
	.main-content__background {
		background-size: contain;
		background-repeat: no-repeat;
	}

	.footer {
		flex-direction: row;
		justify-content: space-around;
	}
}

@media screen and (min-width: 1450px) {
	.main-content > section {
		display: flex;
		width: 85vw;
		flex-direction: row;
		justify-content: center;margin-top: 20px;
	}
}
