
.searcher__list {
	display: flex;
	position: absolute;
	flex-direction: column;
	transition: 0.3s;
	align-items: flex-end;
	padding: 15px;
	top: 90%;
	width: 85%;
	max-height: 400px;
	background-color: rgb(228, 227, 227);
	z-index: -1;
	border-radius:  25px;
	overflow: scroll;
}

.searcher__list::-webkit-scrollbar {
	width: 5px;
	height: 0;
	border-radius: 15px;
}